{{ partial "pre-content.html" . }}
<h3>Posts</h3>
<ul class="posts">
  {{ $allposts := where .Data.Pages.ByPublishDate.Reverse "Section" "post" }}
  {{ range $allposts }}
    <li>
      <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "Jan 2, 2006" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
</ul>
{{ partial "post-content.html" . }}