{{ partial "pre-content.html" . }}
<h2 class="post-title">{{ .Title }}</h2>
<div class="post-meta">
  <span>{{ .Date.Format "Jan 2, 2006" }}</span>
  <span> - {{ .ReadingTime }} minute read</span>
</div>
<article>
  {{ .Content }}
</article>

<div class="disqus">
  {{ template "_internal/disqus.html" . }}
</div>

{{ partial "post-content.html" . }}