a {
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

figure {
    margin: 0
}

figure > figcaption > p {
    font-style: italic;
    font-size: 1.3rem;
}

.container {
    max-width: 650px;
    display: flex;
    flex-direction: column;
}

#name {
    text-transform: uppercase;
    font-weight: 600;
}

#name-description {
    color: #696969;
}

#main-header {
    order: 0;
    margin: 30px 0 10px 0;
}

#main-nav {
    order: 2;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

#main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
}

#main-nav ul li {
    margin-bottom: 0;
    padding: 1rem 0;
}

#main-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .2rem;
    font-weight: 600;
}

#main-content {
    order: 3;
    margin-bottom: 40px;
}

#main-content .posts {
    list-style: none;
}

#main-content .posts time {
    display: block;
    font-weight: 600;
}

.see-more {
    font-weight: 600;
}

#main-contact {
    order: 1;
    margin: 10px 0;
}

#main-contact ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;

    font-size: 1.8rem;
}

#main-footer {
    margin: 40px 0;
    order: 999;
    color: #696969;
}

.post-title {
    font-weight: 600;
    margin-bottom: 0;
}

.post-meta {
    color: #696969;
    font-style: italic;
    margin-bottom: 2rem;
}

.link-hover-highlight {
    color: #222;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.link-hover-highlight:hover {
    color: #1EAEDB;
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

.highlight > pre {
    border-radius: 4px;
    border: 1px solid #E1E1E1;
}

.disqus {
    margin-top: 10rem;
}

p code {
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

@media all and (min-width: 650px) {
    html {
        height: 100%;
    }

    body {
        display: flex;
        justify-content: center;
        min-height: 100%;
        align-items: center;
    }

    figure {
        margin: 1em 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        min-height: 100%;
    }

    #name {
        margin-bottom: 0;
    }

    #main-header {
        margin: 30px 0;
    }

    #main-nav {
        height: 6.5rem;
    }

    #main-nav ul {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    #main-nav ul li {
        padding: 0;
        margin-right: 25px;
    }

    #main-nav ul li a {
        line-height: 6.5rem;
    }

    #main-content .posts time {
        display: inline-block;
        min-width: 100px;
        text-align: right;
        margin-right: 16px;
    }

    #main-contact {
        order: 10;
        margin: 0;
    }

    #main-contact ul {
        justify-content: flex-start;
        font-size: 1em;
    }

    #main-contact ul li {
        margin-right: 8px;
        margin-bottom: 0;
    }

    #main-footer {
        margin-top: 8px;
    }
}