<section id="main-contact">
  <ul>
    {{ if .Site.Params.twitter }}
      <li><a class="link-hover-highlight" alt="twitter" target="_blank" href="//twitter.com/{{.Site.Params.twitter}}"><i class="fab fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.linkedin }}
      <li><a class="link-hover-highlight" alt="linkedin" target="_blank" href="//linkedin.com/in/{{.Site.Params.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.github }}
      <li><a class="link-hover-highlight" alt="github" target="_blank" href="//github.com/{{.Site.Params.github}}"><i class="fab fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.email }}
      <li><a class="link-hover-highlight" alt="email" target="_blank" href="mailto:{{.Site.Params.email}}"><i class="fas fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.rss }}
      <li><a class="link-hover-highlight" alt="rss" href="/post/index.xml"><i class="fas fa-rss"></i></a></li>
    {{ end }}
  </ul>
</section>