<header id="main-header">
  <a class="link-hover-highlight" href="{{ .Site.BaseURL }}"><h1 id="name">{{ .Site.Params.author }}</h1></a>
  <div id="name-description">{{ .Site.Params.intro }}</div>
</header>

<nav id="main-nav">
  <ul>
    {{ range .Site.Menus.main }}
    <li><a class="link-hover-highlight" href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>