<head>
  <title>
    {{ if .Page.IsHome}}
      {{ .Site.Title }}
    {{ else }}
      {{ .Site.Title }} - {{ .Title }}
    {{ end }}
  </title>
  {{ partial "metadata.html" . }}
  {{ partial "favicons.html" . }}

  <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="/css/skeleton.css" rel="stylesheet" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

  {{ template "_internal/google_analytics_async.html" . }}

  {{ partial "yandex.html" . }}
</head>