<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer">

{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ template "_internal/opengraph.html" . }}