{{ partial "pre-content.html" . }}

<h3>Latest Posts</h3>
<ul class="posts">
  {{ $allposts := where .Data.Pages.ByPublishDate.Reverse "Section" "post" }}
  {{ $postcount := .Site.Params.frontpagepostcount }}
  {{ range (first $postcount $allposts) }}
    <li>
      <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "Jan 2, 2006" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
</ul>

{{ if gt (len $allposts) $postcount }}
<a class="see-more" href="#">See More >></a>
{{ end }}

{{ partial "post-content.html" . }}